<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appliedrec.idcapturesample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CaptureResultActivity"></activity>
        <meta-data android:name="com.appliedrec.verid.apiSecret" android:value="db65b2122ccd0e5ac858e1c4df1e751d82a21a82e1ebf3c943511d0c11d7c29b" />
    </application>

</manifest>