<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appliedrec.credentials.app"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CredentialsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".ResultActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".DocumentDetailsActivity"
            android:label="@string/details" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".WebViewActivity"
            android:label="@string/supported_documents" />
        <activity
            android:name=".IDCardActivity"
            android:label="@string/your_id_card" />
        <activity
            android:name=".MainActivity"
            android:label="@string/id_capture" />

        <meta-data
            android:name="com.appliedrec.verid.password"
            android:value="${veridPassword}" />
    </application>

</manifest>