<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".IDCaptureApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDCapture"
        tools:targetApi="31">
        <activity
            android:name=".BarcodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".DocumentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".FaceComparisonActivity"
            android:exported="false" />
        <activity
            android:name=".IDDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.appliedrec.verid.password"
            android:value="${veridPassword}" />
        <meta-data
            android:name="docver.clientid"
            android:value="${docverClientId}" />
        <meta-data
            android:name="docver.clientsecret"
            android:value="${docverClientSecret}" />
        <meta-data
            android:name="docver.url"
            android:value="${docverUrl}" />
        <meta-data
            android:name="supportedDocumentsUrl"
            android:value="${supportedDocumentsUrl}" />
    </application>

</manifest>