<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appliedrec.credentials.app"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CredentialsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".DocumentDetailsActivity"
            android:label="@string/details" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".ScoreTableActivity"
            android:label="@string/false_acceptance_rates" />
        <activity
            android:name=".WebViewActivity"
            android:label="@string/supported_documents" />
        <activity
            android:name=".ResultActivity"
            android:label="@string/comparison_result" />
        <activity
            android:name=".IDCardActivity"
            android:label="@string/your_id_card" />
        <activity
            android:name=".MainActivity"
            android:label="@string/id_capture">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.appliedrec.verid.apiSecret"
            android:value="f33570cf95f874b1b260ba4def154fb23618ab89a142a726a56d70e33128181e" />
    </application>

</manifest>